<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/youtube.png') }}" />
    <link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css' />
    <title>YouTube'dan Video İndir</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        function video_cek()
        {
            var url  = $("input[name=video_url]").val();
            mail  = jQuery.trim(url);

            if(url == "")
            {
                var newHTML = "<div style='color: red;'> * Youtube bağlantısı girmediniz! </div>";
                document.getElementById("uyari").innerHTML=newHTML;
            }

            else
            {
                $.ajax(
                {
                    type: "POST",
                    url:  "/getir",
                    data : {video_url : url},
                    success: function(sonuc){
                        if(sonuc != "")
                        {
                            document.getElementById("uyari").innerHTML="";
                            document.getElementById("sonuc").innerHTML=sonuc;
                        }
                    }
                })
            }
        }
    </script>
</head>
<body>

    <div class="image"><img src="{{ url_for('static', filename='images/youtube.png') }}"></div>

    <div class='form' >
        <input class="video_url" type="text" name="video_url" id="video_url" placeholder="https://www.youtube.com/watch?v=QfTK_grqcos" >
        <button onclick="video_cek()" type="submit">Video çek</button>
        <br>
        <span style="font-size: 10px;">* Video bağlantısını yapıştırdıktan sonra <strong>Butona</strong> basın.</span>
        <br>
        <div id="uyari"></div>
    </div>
    <div id="sonuc">
    </div>

    <div class="social">
        <a href="http://facebook.com/mthnzbk">
            <img src="{{ url_for('static', filename='images/facebook.png') }}">
        </a>
        <a  href="http://github.com/mthnzbk">
            <img src="{{ url_for('static', filename='images/github.png') }}">
        </a>

        <a href="http://twitter.com/mthnzbk">
            <img src="{{ url_for('static', filename='images/twitter.png') }}">
        </a>

    </div>

    <div class="footer">
        <span>&copy; 2016 <a href="http://metehan.us">metehan.us</a></span>
    </div>
</body>
</html>